@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    width: 100%;
    font-family: Comfortaa, sans-serif;
    background-color: #050505;
    color: white;
    line-height: 1.3em;
    background-image: url("../img/coding.png");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

header {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 40px;
}

header h1 {
    color: white;
    font-size: 40px;
}

header img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

main {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

main img {
    display: block;
    max-width: 99%;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #EF0A6C;
}

footer {
    text-align: center;
    padding: 50px;
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px;    
  }
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #0a0a0a; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #121212; 
}
::-webkit-scrollbar-button {
    background-color: #050505;
}
::-webkit-scrollbar-button:hover {
    background-color: #0a0a0a;
}